# Go build artifacts
/bin
/build
/finance-api

# Go modules cache (optional, depending on Docker strategy)
/vendor

# Dependency files
**/node_modules
**/dist

# Editor & system files
*.log
*.swp
*.swo
*.DS_Store
*.env
*.env.*

# Vite dev artifacts
/frontend/.vite

# Tests and temp files
*.test
*.out
*.tmp
*.cache
coverage/
.vscode/
.idea/
